<ul>
    <li>상품목록</li>
    <% list.forEach( item => { %>
        <li>
            <a href="/cart/save/<%= item.goods_id%>">
                <%= item.title %>
            </a>
            : <%= item.price %> 원
        </li>
    <% }) %>
</ul>
<a href="/member/login">로그인</a>
<a href="/member/logout">로그아웃</a>
<a href="/cart/view_list">선택 상품 확인</a>