<h3>-공지사항-</h3>
공지사항...
<input type="checkbox" id="chk"
                    onclick="makeCookie()">
<label for="chk">하루동안 열지 않음!!</label>
<script>
    function makeCookie(){
        location.href = "/cookie/makeCookie"
    }
</script>